<h2>Employee List</h2>
<div class="row" *ngFor="let emp of employee">
  <div class="col-2 ml-3 my-2">
    <p> {{emp.fname}} {{emp.lname}}</p>
  </div>
  <div class="col-2">
    <button type="submit" class="btn btn-success btn-sm ml-4" (click)="viewdetails(emp.id)">Update Employee</button>
  </div>
  <div class="col-2">
    <button  class="btn btn-info btn-sm " (click)="empdetails(emp.id)">View Details</button>
  </div>

  <div class="col-2">
    <button  class="btn btn-danger btn-sm " (click)="deleteEmployee(emp.id)">Delete Employee</button>
  </div>
</div>
<button class="btn btn-primary" routerLink="/addEmployee">Add More!</button>
